@import '../../core/variables';

.post {
  display: flex;
  margin-bottom: @gutter;
}

.post__author {
  font-size: 0;

  img {
    border-radius: 50%;
  }
}

.post__messages {
  flex: 1;
  padding: 0 (@post-author-avatar-size + (@gutter * 2)) 0 (@gutter * 2);
}

.post--from-right {
  flex-direction: row-reverse;

  .message {
    text-align: right;

    &:first-child:before {
      left: auto;
      right: -@caret-width;
      border-width: (@caret-height / 2) 0 (@caret-height / 2) @caret-width;
      border-color: transparent transparent transparent @color-background-message-primary;
    }
  }

  .message__content {
    text-align: left;
    background-color: @color-background-message-primary;
  }

  .post__messages {
    padding: 0 (@gutter * 2) 0 (@post-author-avatar-size + (@gutter * 2));
  }
}

.message {
  position: relative;
  margin-bottom: @gutter;

  &:first-child:before {
    content: '';
    position: absolute;
    top: @gutter;
    left: -@caret-width;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: (@caret-height / 2) @caret-width (@caret-height / 2) 0;
    border-color: transparent @color-background-message-secondary transparent transparent;
  }
}

.message__content {
  display: inline-block;
  padding: @gutter;
  background-color: @color-background-message-secondary;
  border-radius: @border-radius;
}
