@import '../../core/variables';

.adaptable-form {
  padding: (@gutter * 2);
}

.adaptable-form__body {
  textarea {
    border-radius: 6px 0 0 6px;
    border-right: 0;
  }

  button {
    border-radius: 0 6px 6px 0;
  }
}

.adaptable-form__footer {
  margin-top: (@gutter / 2);
  font-size: .9rem;
}
