@import "../../core/variables";

.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.splash-screen__content {
  text-align: center;
  position: absolute;
  width: 80%;
  top: (@gutter * 4);
  left: 50%;
  transform: translateX(-50%);
}
