@import '../../core/variables';
@import '../../core/placeholders';

.main-column {
  position: relative;
  flex: 1;
  background-color: @color-light-background;
}

.main-column__header {
  &:extend(.header);
  border-bottom: 2px solid @color-border;

  h1 {
    flex: 1;
    margin: 0;
  }
}

.main-column__content {
  margin: 0 (@gutter * 2);
  border-bottom: 2px solid @color-border;
}

.thread {
  &:extend(.list-unstyled);
  padding: (@gutter * 2) 0;
}
