@import 'variables';
@import 'placeholders';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: @font-size-root;
  background: linear-gradient(45deg, @color-dark-background 0%, lighten(@color-dark-background, 10%) 100%);
  box-sizing: border-box;
  height: 100%;
}

body {
  color: @color-text;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  padding: @gutter * 2;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  line-height: 1.2;
}

h1 {}

h2 {
  font-size: 1.8rem;
  margin: 0 0 (@gutter * 2) 0;
}

h3 {
  font-size: 1.4rem;
  margin: 0;
}

small {
  font-size: .8rem;
  color: @color-text-muted;
}

a {
  color: @color-secondary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: darken(@color-secondary, 10%);
    text-decoration: underline;
  }
}

small {
  font-size: .9rem;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;

  &:before {
    display: block;
  }
}

.container {
  display: flex;
  min-height: 400px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: @border-radius;
  overflow: hidden;
}

.list-inline {
  &:extend(.list-unstyled);

  > li + li {
    margin-left: @gutter;
  }
}

.form-input,
.button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: 2px solid transparent;
  padding: @gutter;
  outline: none;
}

.form-input {
  display: block;
  width: 100%;
  border-color: @color-border;
  transition: background-color 150ms ease-out;

  &:focus {
    background-color: lighten(@color-border, 5%);
  }
}

.button {
  color: lighten(@color-text, 20%);
  white-space: nowrap;
  background-color: transparent;
  border-color: @color-border;
  cursor: pointer;
  transition: color 150ms ease-out,
              background-color 150ms ease-out,
              border-color 150ms ease-out;

  &:focus,
  &:hover {
    color: #fff;
    background-color: @color-secondary;
    border-color: @color-secondary;
  }

  &:active {
    color: @color-secondary;
    background-color: transparent;
    border-color: @color-secondary;
    transition: color 50ms ease-out,
                background-color 50ms ease-out,
                border-color 50ms ease-out;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row__item--fill {
  flex: 1 1 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: @gutter;
  }
}
