@import "variables";

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
   height: @header-height;
   display: flex;
   align-items: center;
   padding: 0 (@gutter * 2);
 }
