/*------------------------------------*\
  Typography
\*------------------------------------*/

@font-size-root: 16px;
@font-size-base: 1rem;
@line-height-base: 1.4;
@font-family-base: 'Varela Round', sans-serif;



/*------------------------------------*\
  Colors
\*------------------------------------*/

@color-primary: #6a319e;
@color-secondary: #3284e0;
@color-text: #3d3d3d;
@color-text-muted: lighten(@color-text, 26%);

@color-dark-background: darken(@color-primary, 28%);
@color-light-background: lighten(@color-primary, 80%);
@color-border: desaturate(darken(@color-light-background, 10%), 84%);

@color-background-message-primary: lighten(@color-secondary, 30%);
@color-background-message-secondary: #dadada;



/*------------------------------------*\
  Misc
\*------------------------------------*/

@gutter: 10px;
@border-radius: 4px;

@logo-height: 60px;
@header-height: @logo-height + (@gutter * 2);

@caret-height: 14px;
@caret-width: 10px;

@post-author-avatar-size: 50px;
