@import '../../core/variables';
@import '../../core/placeholders';

.left-column {
  color: #fff;
  background-color: @color-primary;
  min-width: 240px;
}

.left-column__header {
  &:extend(.header);
  font-size: 0;
}

.nav {
  ul {
    &:extend(.list-unstyled);
  }

  a {
    font-size: .8rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .4);
    display: block;
    padding: @gutter (@gutter * 2);
    text-decoration: none;
    border-top: 2px solid lighten(@color-primary, 6%);

    &:focus,
    &:hover {
      color: #fff;
      background-color: @color-secondary;
    }

    &.active {
      color: #fff;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      padding-right: @gutter;
      font-size: 200%;
    }
  }
}
