doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Rockee, an interview simulator dedicated to developers
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Varela+Round')
    link(rel='stylesheet', href='https://fontastic.s3.amazonaws.com/QJ72is92oSWxgPepynXanA/icons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    body
      block body
